@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Contoso Crafts</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="section-card d-flex flex-wrap justify-content-between">
    @foreach (var product in Model.Products)
    {
        <div class="card" style="width: 20rem; margin-top: 12px">
          <img src="@product.Image" class="card-img-top" alt="Image">
          <div class="card-body">
            <h5 class="card-title">@product.Title</h5>
            <p class="card-text">@product.Description</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    }
</div>
